body{
    background-color: rgb(255, 255, 255);
  } 


h1{
     color: #54ff11;
    }

    p{
        color: #000000;
    }

.mytext{
    background-color: hsl(0, 0%, 100%);
    
}

a{
    text-decoration: none;
    color: #00ff6a;
}

a:hover{
    color: #00b3ff;
}